{% extends "base.html" %}
{% load static %}

{% block title %}Dashboard{% endblock %}

{% block head %}
<link rel="stylesheet" href="{% static 'dashboard/styles/design.css' %}">
{% endblock %}

{% block content %}
<h1>Dashboard</h1>
<h2>Hi! {{ user.username }}</h2>

{% if jobs %}
    {% for job in jobs %}
        <div class="card">
            <h3>{{ job.title }}</h3>

            <p>
                <strong>Company:</strong>
                {{ job.company.company_name }}
            </p>

            <p>
                <strong>Source:</strong>
                {{ job.source }}
            </p>

            <!-- INLINE STATUS EDIT -->
            <form
                hx-post="{% url 'dashboard:update_job_status' job.id %}"
                hx-trigger="change from:select"
                hx-swap="none"
            >
                {% csrf_token %}
                <label><strong>Status:</strong></label>
                <select name="status">
                    {% for value, label in job.STATUS_CHOICES %}
                        <option value="{{ value }}" {% if job.status == value %}selected{% endif %}>
                            {{ label }}
                        </option>
                    {% endfor %}
                </select>
            </form>
        </div>
    {% endfor %}
{% else %}
    <p>No openings yet. Add some through the admin panel!</p>
{% endif %}

{% endblock %}
