body{
    margin: 0px;
    padding: 0px;
}


* {
  box-sizing: border-box;
}

.header {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 10px;
  padding-right: 10px;
  padding-left: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center; 
  z-index: 100;
  border-bottom: 2px solid gray;
}

.name {
  font-family: "Bebas Neue", sans-serif;
  font-size: 32px;
  text-decoration: none;
  font-weight: 700;
}

.navbar a.profile{
  font-family: "Bebas Neue", sans-serif;
  font-size: 20px;
  text-decoration: none;
  font-weight: 700;
}

.navbar a.dashboard{
  font-family: "Bebas Neue", sans-serif;
  font-size: 20px;
  text-decoration: none;
  font-weight: 700;
  margin-right: 20px;
  color: black

}

.navbar a.scraped_jobs{
  font-family: "Bebas Neue", sans-serif;
  font-size: 20px;
  text-decoration: none;
  font-weight: 700;
  color: black
}

.navbar {
  display: flex;
  align-items: center;
}

.navbar a {
  font-size: 18px;
  color: white;
  font-weight: 500;
  text-decoration: none;
  margin-left: 40px;
}
.circle {
    width: 50px;      
    height: 50px;         
    border-radius: 50%;  
    margin-right: 15px;  
}
.logocontainer {
    display: flex;
    align-items: center;
}


.btn-primary {
	font-weight: bold;
	padding: 8px 16px 6px 16px;
  border-radius: 8px;

}

.form_information {
    display: grid;
    grid-template-columns: 1fr; 
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 10px;
    margin-left: 70px;
    margin-right: 70px;
    border-radius: 8px;
}


.LoginBox {
    width: 350px;
    padding: 30px;
    border: 2px solid black;
    border-radius: 5px;     
    background-color: white;   
    display: flex;
    flex-direction: column;  
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1); 
    
}

.LoginBox input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 16px;
}

.LoginBox button {
    width: 100%;
    padding: 10px;
    margin-top: 15px;
    border: none;
    border-radius: 5px;
    background-color: #007BFF;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.LogInContainer {
    display: flex;
    justify-content: center; 
    align-items: center;    
    height: 100vh;           
    background-color: #f0f0f0;
}

.LogInBox button:hover {
    background-color: #0056b3; 
}
