body { font-family: Arial, sans-serif; margin: 40px; background-color: black; }
h1 { color: #333; }
.card { background-color: white; padding: 20px; margin: 10px 0; border-radius: 8px; box-shadow: 0 2px 4px rgba(0,0,0,0.1); }

.jobGrid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    border-radius: 15px;
    overflow: hidden;          
    background: white;
    margin: 20px;
}

.jobGrid .jobGridCell, .jobGrid .jobGridCellHeader{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 22px;
    color: black;
    padding: 40px;
    border: 2px black;
}

.jobGrid .jobGridCellHeader{
    font-weight: bold;
    font-size: 30px;
}
